<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Plantilla Nombre: {{dirList.name}}</h1>
        <section>This is Name section.</section>
        <div class="name-res">
            <input ng-model="dirList.valNum" type="number">
            <button ng-click="dirList.square()">Calc</button>
            <span>
                Resultado: {{dirList.squareRes}}
            </span>
        </div>
        <span>{{dirList.callService}}</span>
    </div>
    <div>
        <button ng-click="dirList.getData()">Get Data</button>
        <ul>
            <li ng-repeat="item in dirList.getResponse">
                <span>{{item.id + ' - ' + item.username + ' - ' + item.email}}</span>
            </li>
        </ul>
    </div>
</body>
</html>