<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script> function getLocalStorage(){var nom = document.getElementById("nombreText").value; localStorage.name = nom; document.getElementById("new").innerHTML = localStorage.name} </script>
    <script> function changeName(){localStorage.setItem("name","Albert"); document.getElementById("new").innerHTML = localStorage.name}</script>
        
    <title>Home</title>
</head>
<body>
    <h1>Hola: {{dirList.search}} !</h1>

    <input id="nombreText" type="text" ng-model="dirList.search" placeholder="Nombre:"> <span> Para buscar en la lista</span>
    <br>
    <button ng-hide="dirList.toggle" ng-click="dirList.toggle = true">Mostrar</button>
    <button ng-hide="!dirList.toggle" ng-click="dirList.toggle = false">Ocultar</button><span> Para ocultar lista</span>
    
    <div class="lista-desplegada">
        <ul ng-if="dirList.toggle">
            <a href="#!name">
                <li ng-repeat="item in dirList.list | filter: dirList.search" class="{{item.nombre}}" ng-class="item.edad > 29 ? 'over-thirty' : 'under-thirty'">
                    <img ng-src="{{item.img}}"/><span>{{item.nombre}} - <em>{{item.edad}}</em></span>
                </li>
            </a>
        </ul>
    </div>

    <br>
    <span id="new" class="nameOne" onclick="getLocalStorage()"></span>
    <br>
    <button class="buttonOne" ng-click="dirList.removePerson()">Remove</button>
    
    <form ng-submit="dirList.addPerson()">
        <input type="text" placeholder="Name" ng-model="dirList.nombre">
        <input type="number" placeholder="Age" ng-model="dirList.edad">
        <input type="submit" value="Submit">
        <span>Agregar nuevo usuario</span>
    </form>
</body>
</html>