body {
    margin: 0;
}
nav {
    background: beige;
    padding: 15px;
}
.boton-ocultar {
    margin: 15px 0;
}
.content {
    padding: 0 15px 15px 15px;
    margin-bottom: 30px;
}
.over-thirty {
    color: red;
}
.under-thirty {
    color: green;
}
.hidden {
    display: none;
}
.lista-desplegada {
    display: flex;
    justify-content: center;
}
a {
    text-decoration-line: none;
    padding-right: 15px;
    color: brown;
}
ul {
        padding-left: 10px;
}
li {
    display: flex;
    margin-bottom: 10px;
    cursor: pointer;
}
li span {
    display: inline-block;
    line-height: 50px;
}
li img {
    border-radius: 50%;
    margin-top: 10px;
    margin-right: 10px;
    width: 25px;
    height: 25px;
}
li.ng-enter {
    transition: 0.4s ease-in-out all;
    opacity: 0;
    transform: translate(-100%)
}
li.ng-enter.ng-enter-active {
    opacity: 1;
    transform: translate(0)
}
li.ng-leave {
    transition: 0.4s ease-in-out all;
    opacity: 1;
    transform: translate(0)
}
li.ng-leave.ng-leave-active {
    opacity: 0;
    transform: translate(100%)
}
.button-one {
    margin: 15px 0;
}
.nameOne, .button-one {
    cursor: pointer;
}
.green {
    background-color: green;
}
.name-res {
    margin: 15px 0;
}
.drop-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.drop-content {
    background-color: #4CAF50;
    color: white;
    padding: 10px 16px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.drop-content .option {
    background-color: whitesmoke;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}
  
.drop-content .option:hover {background-color: #ddd;}

.dropdown:hover .drop-content {display: block;}

.drop:hover .drop-btn {background-color: #3e8e41;}

footer {
    position: fixed;
    bottom: 0;
    background-color: bisque;
    width: 100%;
    padding: 15px;
}

.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: -10px;
}

.cards-container .card {
    width: 20%;
    border-radius: 5px;
    transform: scale(0.95);
    transition: all 0.4s;
}

.cards-container .card:hover {
    transform: scale(1.1);
    transition: all 0.4s;
}

.cards-container .card .content {
    padding: 10px;
    background-color: ghostwhite;
    margin: 10px;
    cursor: pointer;
}

.cards-container .card .content .title {
    padding-bottom: 8px;
    margin: 0;
}

.cards-container .card .content img {
    height: 100px;
}